@media(max-width: 670px) {
    .container{
        width: 100%;
        height: 100%;
        position: relative;
    }

    canvas {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    #btnUp {
        bottom: 55%;
        right: 15%;
    }

    #btnDown {
        bottom: 35%;
        right: 15%;
    }

    #btnLeft {
        bottom: 45%;
        right: 30%;
    }

    #btnRight {
        bottom: 45%;
        right: 0%;
    }
}
