/*************************************/
/*   index.html部
/*************************************/
/*
.indexContainer {
    width: 3000px;
    height: 6000px;
    background-image: url(img/skysea.jpg);
    background-size: cover;
}
*/

.startBtnWrapper {
    text-align: center;
}

.startBtn {
    border: 1px solid #aaa;
    color: #fff;
    display: inline-block;
    margin-top: 300px;
    width: 300px;
    background-color: #aaa;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}






/*************************************/
/*   game.html部
/*************************************/
/*
#container {
    width: 300px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}
*/

.scoreWrapper {
    text-align: center;
}

#score {
    width: 300px;
    display: inline-block;
    border: 1px solid;
}

#container {
    width: 300px;
    margin: 0 auto;
    background-color: blue;
    position: relative;
}

/*
canvas {
    position: absolute;
    z-index: 50;
    background-color: black;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}
*/
/*
canvas {
    z-index: 50;
    background-color: black;
    display: block;
    border: 1px solid black;
}
*/

#myCanvas {
    width: 100%;
    z-index: 50;
    background-color: black;
    display: block;
    border: 1px solid black;
}



#suspend {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 30px;
    border: none;
    font-size: 26px;
    text-align: center;
    color:  black;
    font-weight: bold;
    user-select: none;
    opacity: 0.3;
}

#suspend.disabled {
    display: none;
}

#message {
    position: absolute;
    top: 45%;
    left: 1%;
    border: 1px solid #aaa;
    margin: auto 0;
    z-index: 100;
    background-color: #fff;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}

#message li2 {
    font-size: 20px;
}

#message.disabled {
    display: none;
}


#btnUp {
    position: absolute;
    bottom: 66px;
    right: 55px;
    z-index: 100;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 30px;
    border: none;
    font-size: 26px;
    text-align: center;
    color:  black;
    font-weight: bold;
    user-select: none;
    opacity: 0.3;
}

#btnDown {
    position: absolute;
    bottom: 0px;
    right: 55px;
    z-index: 100;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 30px;
    border: none;
    font-size: 26px;
    text-align: center;
    color:  black;
    font-weight: bold;
    user-select: none;
    opacity: 0.3;
}

#btnLeft {
    position: absolute;
    bottom: 33px;
    right: 110px;
    z-index: 100;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 30px;
    border: none;
    font-size: 26px;
    text-align: center;
    color:  black;
    font-weight: bold;
    user-select: none;
    opacity: 0.3;
}

#btnRight {
    position: absolute;
    bottom: 33px;
    right: 0px;
    z-index: 100;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 30px;
    border: none;
    font-size: 26px;
    text-align: center;
    color:  black;
    font-weight: bold;
    user-select: none;
    opacity: 0.3;
}

#controlKey.disabled {
    display: none;
}
